/*Чем мы занимаемся*/
.directions {
  padding-top: 0px;

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    display: block;
  }

  &__label {
    position: absolute;
    left: 0;
    bottom: 0%;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 70px;

    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $primary-white-color;
    background: rgba(47, 48, 58, 0.8);
  }
}
