.footer-form {
  &__input {
    display: block;
    width: 100%;
    height: 50px;
    padding-left: 16px;
    margin-bottom: 20px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: $primary-white-color;

    &::placeholder {
      font-size: 16px;
      line-height: 1.25;
      color: rgba(255, 255, 255, 0.6);
    }
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    &__input {
      width: 358px;
      margin-right: 12px;
    }
  }
}
