/*Hero секция*/
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  height: 600px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;

  background-color: $dark-background;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-img.jpg");
  background-position: center;
  background-size: cover;

  color: $primary-white-color;
  letter-spacing: 0.06em;

  &__title {
    width: 696px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
  }
}
