$primary-text-color: #212121;
$secondary-text-color: #757575;
$logo-color: #000;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$adress-color: rgba(255, 255, 255, 0.6);
$client-color: #afb1b8;
$dark-background: #2f303a;
$light-background: #f5f4fa;

/*Количество столбцов карточек проектов в ПОРТФОЛИО*/
$projectcolumn: 3;
$projectgap: 30px;

/*Время анимации*/
$an-time: 250ms;
